#
# Amlogic Decoders
#

menu "Amlogic Decoders"

config AMLOGIC_MEDIA_VDEC_MPEG4
	tristate "CONFIG_AMLOGIC_MEDIA_VDEC_MPEG4"
	default m
	help
		CONFIG_AMLOGIC_MEDIA_VDEC_MPEG4

config AMLOGIC_MEDIA_VDEC_MPEG4_MULTI
	tristate "CONFIG_AMLOGIC_MEDIA_VDEC_MPEG4_MULTI"
	default m
	help
		CONFIG_AMLOGIC_MEDIA_VDEC_MPEG4_MULTI

config AMLOGIC_MEDIA_VDEC_MPEG12
	tristate "CONFIG_AMLOGIC_MEDIA_VDEC_MPEG12"
	default m
	help
		CONFIG_AMLOGIC_MEDIA_VDEC_MPEG12

config AMLOGIC_MEDIA_VDEC_VC1
	tristate "CONFIG_AMLOGIC_MEDIA_VDEC_VC1"
	default m
	help
		CONFIG_AMLOGIC_MEDIA_VDEC_VC1

config AMLOGIC_MEDIA_VDEC_H264
	tristate "CONFIG_AMLOGIC_MEDIA_VDEC_H264"
	default m
	help
		CONFIG_AMLOGIC_MEDIA_VDEC_H264

config AMLOGIC_MEDIA_VDEC_H264_MULTI
	tristate "CONFIG_AMLOGIC_MEDIA_VDEC_H264_MULTI"
	default m
	help
		CONFIG_AMLOGIC_MEDIA_VDEC_H264_MULTI

config AMLOGIC_MEDIA_VDEC_H264_MVC
	tristate "CONFIG_AMLOGIC_MEDIA_VDEC_H264_MVC"
	default m
	help
		CONFIG_AMLOGIC_MEDIA_VDEC_H264_MVC

config AMLOGIC_MEDIA_VDEC_H264_4K2K
	tristate "CONFIG_AMLOGIC_MEDIA_VDEC_H264_4K2K"
	default m
	help
		CONFIG_AMLOGIC_MEDIA_VDEC_H264_4K2K

config AMLOGIC_MEDIA_VDEC_H265
	tristate "CONFIG_AMLOGIC_MEDIA_VDEC_H265"
	default m
	help
		CONFIG_AMLOGIC_MEDIA_VDEC_H265

config AMLOGIC_MEDIA_VDEC_VP9
	tristate "CONFIG_AMLOGIC_MEDIA_VDEC_VP9"
	default m
	help
		CONFIG_AMLOGIC_MEDIA_VDEC_VP9

config AMLOGIC_MEDIA_VDEC_MJPEG
	tristate "CONFIG_AMLOGIC_MEDIA_VDEC_MJPEG"
	default m
	help
		CONFIG_AMLOGIC_MEDIA_VDEC_MJPEG

config AMLOGIC_MEDIA_VDEC_MJPEG_MULTI
	tristate "CONFIG_AMLOGIC_MEDIA_VDEC_MJPEG_MULTI"
	default m
	help
		CONFIG_AMLOGIC_MEDIA_VDEC_MJPEG_MULTI

config AMLOGIC_MEDIA_VDEC_REAL
	tristate "CONFIG_AMLOGIC_MEDIA_VDEC_REAL"
	default m
	help
		CONFIG_AMLOGIC_MEDIA_VDEC_REAL

config AMLOGIC_MEDIA_VDEC_AVS
	tristate "CONFIG_AMLOGIC_MEDIA_VDEC_AVS"
	default m
	help
		CONFIG_AMLOGIC_MEDIA_VDEC_AVS

endmenu
